{{ header }}{{ column_left }}
<div id="content" class="payment-worldline">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<a href="{{ sign_up }}" target="_blank" class="btn btn-primary">{{ button_sign_up }}</a>
				<a href="{{ contact_us }}" target="_blank" class="btn btn-primary">{{ button_contact_us }}</a>
				<button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary button-save"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if text_version %}
		<div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ text_version }}</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="{{ href_account }}" class="nav-link"><i class="fas fa-user"></i> {{ text_tab_account }}</a></li>
					<li class="nav-item"><a href="{{ href_advanced }}" class="nav-link"><i class="fas fa-cogs"></i> {{ text_tab_advanced }}</a></li>
					<li class="nav-item"><a href="{{ href_order_status }}" class="nav-link active"><i class="fas fa-shopping-cart"></i> {{ text_tab_order_status }}</a></li>
					<li class="nav-item"><a href="{{ href_transaction }}" class="nav-link"><i class="fas fa-money-bill"></i> {{ text_tab_transaction }}</a></li>
					<li class="nav-item"><a href="{{ href_suggest }}" class="nav-link"><i class="far fa-envelope"></i> {{ text_tab_suggest }}</a></li>
				</ul>
				<div class="tab-content">
					<form action="{{ save }}" method="post" id="form-payment" data-oc-toggle="ajax">
						{% for worldline_order_status in setting['order_status'] %}
						<div class="row mb-3">
							<label class="col-sm-2 col-form-label" for="input-order-status-{{ worldline_order_status['code'] }}">{{ attribute(_context, worldline_order_status['name']) }}</label>
							<div class="col-sm-10">
								<div class="input-group">
									<select name="payment_worldline_setting[order_status][{{ worldline_order_status['code'] }}][id]" id="input-order-status-{{ worldline_order_status['code'] }}" class="form-select">
										{% for order_status in order_statuses %}
										{% if order_status['order_status_id'] == worldline_order_status['id'] %}
										<option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
										{% else %}
										<option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
										{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}